@{
    ViewBag.Title = "hlcWeb Logon";
    Layout = "~/Views/Shared/_LayoutLogon.cshtml";
}
<div class="container">
    <div class="card card-container">
        <div style="width:100%;text-align:center;">
            <i class="fa fa-5x fa-user-md"></i><br />
            <h4><strong>Hospital Liaison Committee</strong></h4>
        </div>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" value="@Session["hlcUser"]" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->