body {
}

.cube {
    width: 70px;
    height: 70px;
    padding: 5px;
    background-color: #fbeed5; /*bisque;*/
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
}
.cubeLetter {
    width: 60px;
    height: 60px;
    font-size: 24pt;
    background-color: #fbeed5; /*bisque;*/
    display: table-cell;
    vertical-align:middle;
    text-align: center;    
}
