@model hlcWeb.Models.Presentation
@{
    ViewBag.Title = "Presentation";
    var userRole = (string)Session["UserRole"];
}
<div class="well">
    <i class="fa fa-bar-chart fa-2x fa-fw text-primary"></i><span class="h3"> @Model.Description</span>
</div>
