@model List<hlcWeb.Models.Doctor>

<div>
 <h3>Search results</h3>
 <table class="table table-bordered table-striped">
     <thead>
         <tr>
             <th>Last Name</th>
             <th>First Name</th>
             <th>Attitude</th>
         </tr>
     </thead>
     <tbody>
         @foreach (var d in @Model)
         {
            <tr>
                <td>@d.LastName</td>
                <td>@d.FirstName</td>
                <td class="@d.AttitudeText">@d.AttitudeText</td>
            </tr>
         }
     </tbody>
 </table>
</div>
