@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div class="row">
    <div class="col-md-10">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" class="form-control js-search" placeholder="Search Doctors..." aria-describedby="basic-addon1">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div id="doctorlist">

        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".js-search").keyup(function (e) {
                var search = $(e.target);
                if (search.val().length > 2) {
                    $.ajax({
                        method: "POST",
                        url: "@Url.Action("Search", "Doctors")",
                        data: { search: search.val() }
                      })
                     .done(function (msg) {
                        $("#doctorlist").html(msg);
                      })
                     .fail(function (jqXHR, textStatus) {
                        $("#doctorlist").html(jqXHR.responseText);
                      });

                    @*$.get("@Url.Action("TestSearch", "Home")",
                        { search: search.val() },
                        function (data, textStatus, jqXHR) {
                            debugger;
                            $("#doctorlist").html(data);
                        },
                        "html");*@

                    // This works OK
                    //$.getJSON("/api/doctors/search", { search: search.val() }, function (result) {
                    //    var html = "<ul>";
                    //    for (var i = 0; i < result.length; i++) {
                    //        html += "<li>" + result[i].LastName + "</li>";
                    //        }
                    //    html += "</ul>";
                    //    $("#doctorlist").html(html);
                    //});
                    
                }
            });
        });
    </script>    
}
