@using System.Collections.Generic;

@model List<hlcWeb.ViewModels.DoctorListViewModel>
<table class="table table-condensed">
    <thead>
    <tr>
        <th>Doctor</th>
        <th>Practice</th>
        <th class="hidden-xs">Office Phone</th>
    </tr>                        
    </thead>
    <tbody>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.DoctorName</td>
            <td>
                @d.PracticeName
                <span class="visible-xs"><a href="tel:@d.OfficePhone1">@d.OfficePhone1</a></span>
            </td>
            <td class="hidden-xs"><a href="tel:@d.OfficePhone1">@d.OfficePhone1</a></td>
        </tr>
    }
    </tbody>
</table>

