body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Open Sans', sans-serif;
}
address {
    margin-bottom: 0;
}

/*************************************************************************************
 * BOOTSTRAP OVERRIDES  
 *************************************************************************************/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
body {
    font-size: 14px;
}
.form-group {
    margin-bottom: 12px;
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.well {
    margin-top: 10px;
}
.dl-horizontal dt {
    white-space: normal;
}
.panel-heading {
    padding: 2px 15px; 
}
.field-validation-valid {
    display: none;
}
.field-validation-error {
    color:#ff0000;
}

/* Force tablet and desktop to show on same line for Attitude icons*/
@media (min-width: 768px) {
    .hidden-xs {
    display: inline-block !important;
    }
}
@media (max-width: 768px) {
    .navbar-brand {
    font-size:15px;
    }
}
/*************************************************************************************
 * FONTAWESOME OVERRIDES  
 *************************************************************************************/
.fa-2x {
    font-size: 32px;
}
.fa-check {
    color: green;
    padding-left: 5px;
}
.fa-close {
    color: #ff0000;
    padding-left: 5px;    
}
/*.fa {
    font-size: 18px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select {
    max-width: 315px;
}*/
/************************************************************************************
 * HLC STYLES
 ************************************************************************************/

i.hlc-brand {
    color:Red;
    font-size: 30px;
}
.hlc-div-center {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
    text-align: center;
    border-width: 1px;
}
.hlc-prompt {    
    font-weight: bold;
    font-size: 11px;
    vertical-align: middle;
    text-align: end;
    width: 60px;
}
.hlc-control {
    margin-bottom: 3px;
}
.hlc-bmsp {
    font-size: 12px;
}
.hlc-table-form {
    width: auto;
}
.hlc-table-form tr {
    border-top: none;
}
.hlc-table-phone {
    width: 105px;
}
.hlc-table-noline td {
     border-top: none !important; 
}
.hlc-list-group {
    padding: 5px 10px;
}
.hlc-textarea textarea {
    height: 400px;
}
.hlc-report-hdg {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.hlc-report-filters {
    font-size: 12px;
}
.hlc-report-field {
    background-color: #eee;
    border: 2px solid white;
}
.modal-dialog {
    right: auto;
    left: 50%;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.hlc-fa {
    font-size: 18px;
    width: 20px;
}
/* Make panel edit icon always show*/
.hlc-panel-icon, .hlc-panel-icon:hover, .hlc-panel-icon:visited, .hlc-panel-icon:focus {
    color: white;
    text-decoration: none;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    border-color: black;
    -ms-border-radius: 9px;
    border-radius: 9px;
    border-width: 2px;
}

/* Doctor Attitude */
.hlc-attitude-header {
    font-size: 14px;
    font-weight:bolder;
}
.Unknown {
    color: darkgray;
}
.Cooperative {
    color: darkgreen;
}
.Favorable {
    color: darkgreen;
}
.Limitations {
    color: #e9c709;
}
.NotFavorable {
    color: #ff0000;
}