body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Open Sans', sans-serif;
}
address {
    margin-bottom: 0;
}

/*************************************************************************************
 * BOOTSTRAP OVERRIDES  
 *************************************************************************************/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.dl-horizontal dt {
    white-space: normal;
}
.panel-heading {
    padding: 2px 15px; 
}
/* Force tablet and desktop to show on same line for Attitude icons*/
@media (min-width: 768px) {
    .hidden-xs {
    display: inline-block !important;
    }
}
@media (max-width: 768px) {
    .navbar-brand {
    font-size:15px;
    }
}
/*************************************************************************************
 * FONTAWESOME OVERRIDES  
 *************************************************************************************/
.fa-2x {
    font-size: 32px;
}
.fa-check {
    color: green;
    padding-left: 5px;
}
.fa-close {
    color: #ff0000;
    padding-left: 5px;    
}
/*.fa {
    font-size: 18px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/************************************************************************************
 * HLC STYLES
 ************************************************************************************/

i.hlc-brand {
    color:Red;
    font-size: 30px;
}
.hlc-div-center {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
    text-align: center;
    border-width: 1px;
}
.hlc-prompt {    
    font-weight: bold;
    font-size: 11px;
    vertical-align: middle;
    text-align: end;
    width: 60px;
}
.hlc-table-form {
    width: auto;
}
.hlc-table-form tr {
    border-top: none;
}
.hlc-table-phone {
    width: 105px;
}
.hlc-list-group {
    padding: 5px 10px;
}
.hlc-fa {
    font-size: 18px;
}
/* Make panel edit icon always show*/
.hlc-panel-icon, .hlc-panel-icon:hover {
    color: white;
    text-decoration: none;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    border-color: black;
    -ms-border-radius: 9px;
    border-radius: 9px;
    border-width: 2px;
}

/* Doctor Attitude */
.Unknown {
    color: rgb(0, 0, 0);
    font-weight: bold;    
}
.Cooperative {
    color: green;
    font-weight:bold;
}
.Favorable {
    color: green;
    font-weight:bold;
}
.Limitations {
    color: #e9c709;
    font-weight:bold;
}
.NotFavorable {
    color: #ff0000;
    font-weight:bold;
}