@model List<hlcWeb.Models.Hospital>

<br />
<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <i class="fa fa-hospital-o hlc-fa"></i> Hospitals
    </div>
    <table id="searchTable" class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>Hospital</th>
            <th>City, State</th>
            <th>Number Doctors</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var hospital in @Model)
        {
            <tr class="js-click-row">
                <td>@Html.ActionLink(hospital.HospitalName, "View", "Hospitals", new { id = hospital.Id }, null) </td>
                <td>@(hospital.City + (!string.IsNullOrEmpty(hospital.State)? " " + hospital.State : "") )</td>
                <td>@hospital.NumberOfDoctors.ToString("N0")</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script src="@Url.Content("~/Scripts/hlc_Search.js")"></script>
