@model hlcWeb.ViewModels.SpecialtyViewModel

@{
    ViewBag.Title = "title";
}

<h2><i class="fa fa-stethoscope fa-2x text-primary"></i> @(Model.Specialty?.SpecialtyName)</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Doctors with this Specialty</div>
                @if (Model.Doctors.Count == 0)
                {
                    <div class="panel-body text-center">
                        <em>There are no HLC Doctors assigned this Specialty.</em>
                    </div>
                }
                else
                {
                    {Html.RenderPartial("DoctorList", Model.Doctors);}
                }
            </div>
        </div>
    </div>    
</div>
